.blog img {
  width: 100%;
  height: 100%;
}
.blog .text {
  padding: 40px 30px;
}
.blog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
  color: black;
}
.blog h1:hover {
  color: darkblue;
  cursor: pointer;
}
.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: darkblue;
}
.blog span label {
  margin-left: 10px;
  color: rgb(74, 68, 68);
  font-size: 14px;
}
.blog span:nth-last-child(1) label {
  color: darkblue;
}
.blog p {
  color: rgb(74, 68, 68);
}

@media screen and (max-width: 768px) {
  .blog .shadow {
    /* width: 0%; */
    /* margin: 0 auto; */
  }
}
